RewriteEngine on

RewriteRule ^([^012/][^/]*)/complex-math\.(.*)$ $1/math-exec.$2 [L]
RewriteRule ^[012]\.([^/]+)/math-exec\.(.*)$ 1.$1/complex-math.$2 [L]

RewriteRule ^0\.x/(.*)$ 0.8/$1 [L,env=nocache:true]
RewriteRule ^1\.x/(.*)$ 1.2/$1 [L,env=nocache:true]
RewriteRule ^2\.x/(.*)$ 2.0/$1 [L,env=nocache:true]
RewriteRule ^3\.x/(.*)$ 3.0/$1 [L,env=nocache:true]
RewriteRule ^latest/(.*)$ 3.x/$1 [L,env=nocache:true]

Header set Cache-Control no-cache env=REDIRECT_nocache
